{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
    <a href="{% url 'books' %}"><button type="button" class="btn btn-primary btn-sm mb-2">All Books</button></a>
    <!-- Title -->
    <h2>{{ book.title }}</h2>
    <!-- Author -->
    {% if book.authors.all|length == 1 %}
        <h5 class="text-muted"><a href="{% url 'author_detail' book.authors.all.0.pk %}">{{ book.authors.all.0.full_name }}</a></h5>
    {% else %}
        <h5 class="text-muted">
            {% for author in book.authors.all %}
                {% if forloop.last %}
                    <a href="{% url 'author_detail' author.pk %}">{{ author.full_name }}</a>
                {% else %}
                    <a href="{% url 'author_detail' author.pk %}">{{ author.full_name }},</a>
                {% endif %}
            {% endfor %}
        </h5>
    {% endif %}
    <!-- Cover -->
    {% if book.cover %}
        <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }} cover" style="max-height: 300px">
    {% else %}
        <img class="bookcover" src="{% static "books/placeholder_cover.png" %}" alt="Placeholder cover" style="max-height: 300px">
    {% endif %}
    <p class="mt-3"><strong>Published</strong><br>{{ book.date_published }}</p>
    <p class="mt-3"><strong>Average user rating</strong><br>
        {% with book_rating_info=book.get_rating_info %}
            {% if book_rating_info.no_of_reviews == 0 %}
                No reviews
            {% else %}
                <span style="color: #ED8936">★</span> {{ book_rating_info.avg_rating }} ({{ book_rating_info.no_of_reviews }} review{{ book_rating_info.no_of_reviews|pluralize }})
            {% endif %}
        {% endwith %}
    </p>
    <p class="mt-3"><strong>Description</strong><br>{% if book.description %}{{ book.description }}{% else %}No description.{% endif %}</p>

    <div style="margin-top: 40px">
        {% if form and user.is_authenticated %}
        <!-- New review form -->
            <h5 class="display-6 mt-10">Add review<br></h5>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        {% endif %}
    </div>

    <!-- All reviews -->
    <div style="margin-top: 40px">
        <h5 class="display-6 mt-10">{% if other_reviews|length > 0 or existing_review %}All reviews{% else %}No reviews yet.{% endif %}<br></h5>
        {% if existing_review %}
            <div class="card mb-2">
                <div class="card-header bg-light">
                   {{ existing_review.user }}<span class="badge badge-primary ml-1">You</span>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">Rating: {{ existing_review.rating }}/10</h5>
                            <p class="card-text">{% if existing_review.text %}{{ existing_review.text }}{% else %}You didn't leave a review.{% endif %}</p>
                        </div>
                        <div>
                            <a class="btn btn-secondary btn-sm" href="{% url 'review_edit' existing_review.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'review_delete' existing_review.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% for review in other_reviews %}
            <div class="card mb-2">
                <div class="card-header">
                    {{ review.user }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rating: {{ review.rating }}/10</h5>
                    <p class="card-text">{% if review.text %}{{ review.text }}{% else %}You didn't leave a review.{% endif %}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}