{% extends '_base.html' %}

{% block title %}AllBooks{% endblock title %}
{% block content %}
    <a href="{% url 'books' %}"><button type="button" class="btn btn-primary btn-sm mb-2">All Books</button></a>
    <h2>{{ book.title }}</h2>
    {% if book.authors.all|length == 1 %}
        <h5 class="text-muted">{{ book.authors.all.0.full_name }}</h5>
    {% else %}
        <h5 class="text-muted">
            {% for author in book.authors.all %}
                {% if forloop.last %}
                    {{ author.full_name }}
                {% else %}
                    {{ author.full_name }},
                {% endif %}
            {% endfor %}
        </h5>
    {% endif %}
    <p class="mt-3"><strong>Published</strong><br>{{ book.date_published }}</p>
    <p class="mt-3"><strong>Description</strong><br>{{ book.description }}</p>

{% endblock content %}